= error_messages_for @course_note

.full.wrapper
  - unless request.xhr?
    %h1 Edit Note
  = render 'form'

:javascript
  $(function() {
    $('form.edit_course_note .actions').append(" | #{escape_javascript link_to('Delete note', course_course_note_path(@course), method: :delete, data: {confirm: 'Are you sure?'})}");
  });
