%h1 Rounds#show
= render @round

- if @round.scorecard_id.present?
  = render @round.scorecard
- else
  %p= link_to 'Add scorecard', new_round_scorecard_path(@round)

%p= link_to 'My rounds', root_path
