.mod
  .inner
    .hd Profile
    .bd
      .container
        - if @user.name?
          %p
            %em Name:
            = @user.name
        - if @user.email?
          %p
            %em Email:
            = @user.email
        %p
          %em OpenId:
          = @user.openid_uid
