#add_round_tab_content.full.wrapper.tabcontent{class: (current == :add_round ? 'current' : '')}
  %h2 Where did you play?
  = form_tag courses_path, method: :get do
    .form_row.txt
      .element= text_field_tag :q
    .form_row.actions= submit_tag 'Find'
