.hd.topper
  %ul.tabControl
    %li{class: (current == :activity ? 'current' : '')}= link_to_function content_tag(:span, 'Activity'), '', id: 'activity_tab'
    %li{class: (current == :add_round ? 'current' : '')}= link_to_function content_tag(:span, 'Add Round'), '', id: 'add_round_tab'
    %li{class: (current == :handicap ? 'current' : '')}= link_to_function content_tag(:span, 'Calculate Course Handicap'), '', id: 'course_handicap_tab'
