%ul#tabcontrol
  %li#activity_tab{class: tab_class(current, :activity)}= link_to content_tag(:span, 'Activity'), root_path(tab: :activity)
  %li#add_round_tab{class: tab_class(current, :add_round)}= link_to content_tag(:span, 'Add Round'), root_path(tab: :add_round)
  %li#course_handicap_tab{class: tab_class(current, :handicap)}= link_to content_tag(:span, 'Calculate Course Handicap'), root_path(tab: :handicap)
