= render partial: 'layouts/tabs', locals: {current: :add_round}

.full.wrapper.tabcontent
  %h2 Where did you play?
  = form_tag courses_path, method: :get do
    .form_row.txt
      .element= text_field_tag :q, '', placeholder: 'Course name or town'
    .form_row.actions= submit_tag 'Find'
