.content.wrapper
  %h2 Welcome
  %p Welcome to GolfStats. We aim to be the easiest way to keep track of your golf game.
  %p
    At this point, you can use GolfStats to keep track of your handicap, using the same
    formula that USGA clubs use. You can also keep records of every round you play, along
    with any statistics that you want to track.
  %p #{link_to 'Sign in', new_user_session_path, class: :pop} using Google or an OpenID to get started.

.sidebar.wrapper
  %h2
    %a= link_to 'Recently Played Courses', courses_path
  %ul
    - courses.each do |c|
      - cache action_suffix: "course_#{c.id}" do
        %li= render c
