.mod
  .inner
    .hd.split
      %h2.left Courses
      .right.bottom.mam= link_to 'New course', new_course_path if can?(:create, Course)
    .bd
      %ul
        - @courses.each do |c|
          %li= render c
