.content.wrapper
  %h1 All Courses
  %ul
    - @courses.each do |c|
      %li= render c

.sidebar.wrapper
  .actions
    %ul
      - if policy(Course).create?
        %li= link_to 'New Course', new_course_path
