.content.wrapper
  %h2 Select a Saved Course
  %ul
    - @courses.each do |c|
      %li= render c

.sidebar.wrapper
  .actions
    %ul
      - if policy(Course).create?
        %li= link_to 'Or Create a New Course', new_course_path
