$experimental-support-for-svg: true;

/*$blueprint-grid-columns: 24;*/
/*$blueprint-container-size: 950px;*/
/*$blueprint-grid-margin: 10px;*/
/*$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;*/

$blueprint-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$blueprint-fixed-font-family: "andale mono", "lucida console", monospace;
$blueprint-font-size: 14px;

$default-border-radius: 7px;

$font-color: #555;
$loud-color: darken($font-color, 50%);
$quiet-color: lighten($font-color, 10%);

$alt-text-color: #234358;
$highlight-color: #ecf1de;

$link-color: #2c4460;
$link-hover-color: $alt-text-color;
$link-visited-color: #005a9c;

$notices-border: #ff0000;
