$experimental-support-for-svg: true;

$ggs-line: 24;
$ggs-column: 100% / 18;
$ggs-font-size: 16;
$ggs-em: $ggs-font-size * 1;
$ggs-lineheight: #{$ggs-line / $ggs-em}em;

/*$blueprint-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*$blueprint-fixed-font-family: "andale mono", "lucida console", monospace;*/

$default-border-radius: 7px;

$font-color: #555;
$loud-color: darken($font-color, 50%);
$quiet-color: lighten($font-color, 10%);
$alt-text-color: #234358;
$highlight-color: #ecf1de;

$link-color: #2c4460;
$link-active-color: lighten(adjust-hue($link-color, 75deg), 10%);
$link-hover-color: $alt-text-color;
$link-visited-color: #005a9c;
$link-focus-color: $link-hover-color;

$notices-border: #ff0000;
