/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require oocss/core/core
 *= require oocss/plugins/plugins
 *= require reset
 *= require_tree .
*/

@import "blueprint/reset";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@import "constants";
@import "compass/css3/border-radius";

.notices .inner {
  border: 1px solid $notices-border;
  @include border-radius;
  background: #fff;
}

.notice {
  color: $quiet-color;
}

.error {
  color: $loud-color;
}

#openid_url {
  background: image-url('openid-bg.gif') no-repeat;
  background-position: 5px 50%;
}
