/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require GGS
 *= require_self
*/

@import "constants";

body {
  background-image: image-url('retina_dust.png');
}

#openid_url {
  background: {
    image: image-url('openid-bg.gif');
    repeat: no-repeat;
    position: 5px 50%;
  }
}

@import "compass/utilities/general/clearfix";
@import "columns";
@import "typography";
@import "header";
@import "tabs";
@import "forms";
@import "courses";
@import "scorecards";
