@import "constants";
@import "compass/layout/stretching";
@import "ggs";

/*
 * Four-column default
 */

header .content {
  @include ggs-margin-height;

  nav.js ul {
    display: none;
  }
  .tinynav {
    display: block;
  }
}

.body {
  .content, .sidebar, .full.wrapper, .fields {
    @include ggs-margin-width;
    @include ggs-width(16);
  }
  .tabmenu {
    @include ggs-margin-top;
    @include ggs-margin-width;
  }
  & > .sidebar > .actions {
    @include ggs-margin-top(2);
  }
}

/*
 * Eight-column grid active
 */

@media screen and (min-width: 45em) {
  header .content {
    nav.js ul {
      display: block;
    }
    .tinynav {
      display: none;
    }
  }

  .body {
    .wrapper {
      &:first-child {
        @include ggs-margin-width(1, 0);
      }
      &:last-child {
        margin: 0;
      }
      &.full {
        @include ggs-margin-width;
      }
    }

    .content {
      float: left;
      @include ggs-width(8);
    }

    .sidebar {
      float: left;
      @include ggs-width(8);
    }

    .fields {
      margin: 0;
      @include ggs-margin-width;

      .field {
        float: left;
        @include ggs-width(8, 16);
      }

      .full {
        float: left;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 61.5em) {
  header {
    @include ggs-margin-width;
  }
  .body {
    .content {
      @include ggs-width(10);
    }
    .sidebar {
      @include ggs-width(6);
    }
  }
}

@media screen and (min-width: 70em) {
  .hole {
    float: left;
    width: 50%;
  }
}

@media screen and (min-width: 87em) {
  .body {
    .wrapper:first-child {
      @include ggs-margin-width(3, 0);
    }
    .content {
      @include ggs-width(8);
    }
    .sidebar {
      @include ggs-width(4);
    }
    .tabmenu {
      @include ggs-margin-height;
      @include ggs-margin-width(3, 3);
    }
    .full.wrapper {
      @extend header;
      @include ggs-width(12);
    }
    .fields {
      @include ggs-margin-width(3, 3);
      @include ggs-width(12);

      .field {
        @include ggs-width(6, 12);
      }
    }
  }
  header {
    @include ggs-margin-width(3, 3);
  }
}

/*
 * Sixteen-column grid active
 */

@media screen and (min-width: 117em) {
  header {
    @include ggs-width(3);
    @include stretch-y;
    @include ggs-margin-width(1, 0);
    .wrapper {
      width: 100%;
      margin: 0;
    }
    .content {
      @include ggs-margin-height(3);
    }
  }
  .body {
    @include stretch-x(ggs-column(4), ggs-column(1));

    .content.wrapper {
      @include ggs-width(9, 13);
    }
    .sidebar.wrapper {
      @include ggs-width(4, 13);
    }
    .full.wrapper {
      clear: none;
      float: left;
      width: 100%;
    }
    .content, .sidebar, .full {
      &.wrapper {
        margin: 0;
        @include ggs-margin-height(2);
      }
    }

    .tabmenu {
      float: left;
      margin: 0;
      @include ggs-margin-height(3);
      @include ggs-width(3, 13);
    }
    .tabcontent {
      &.full {
        @include ggs-width(10, 13);
      }
      .content {
        @include ggs-width(6, 13);
      }
      .sidebar {
        @include ggs-width(4, 13);
      }
    }

    .fields {
      margin: 0;
      width: 100%;

      .field {
        @include ggs-width(4, 12);
      }
    }

    .hole {
      @include ggs-width(4, 12);
    }
  }
}
