// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "constants";

.teeboxes {

  .hd h3.unit {
    margin-right: 0;

    .lastUnit {
      margin-left: 0;
    }
  }

  .line {
    margin-bottom: 10px;
  }
}
