@import "constants";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/layout/stretching";

.body {
  .fields .form_row, .form_row, .field.wrapper {
    margin: $ggs-lineheight 0 0;
    overflow: hidden;
  }
}

.textarea {
  height: #{$ggs-line * 5 / $ggs-em}em;
  position: relative;

  .element {
    @include stretch-x(#{$ggs-line / 2 / $ggs-em}em, #{$ggs-line / 2 / $ggs-em}em);
    @include stretch-y($ggs-lineheight, 0);

    textarea {
      @include stretch;
    }
  }
}

.date select {
  width: 32%;

  &:first-child {
    margin-left: 1px;
  }
}

.element {
  overflow: hidden;

  .field_with_errors {
    border: 1px solid $notices-border;
    @include border-radius;
    padding: 2px;
  }
}

.txt {
  .bg input {
    padding-left: 23px;
  }

  div.element input {
    @include box-sizing(border-box);
    width: 100%;
  }

  span.element input {
    // must put .relative class on enclosing div
    @include stretch-x(#{($ggs-line * 3)/$ggs-em}em, #{($ggs-line/2)/$ggs-em}em);
  }
}

.radio {
  span.element {
    padding: {
      left: 15px;
      right: 5px;
    }
    &:first-child {
      padding-left: 1px;
    }
  }
}

.field.control {
  .prompt {
    text-align: right;
    margin-top: $ggs-lineheight;
  }
}

.required label:after {
  content: "*";
  color: #ff0000;
}
