@import "constants";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/layout/stretching";
@import "ggs/lineheight";

.body {
  .fields .form_row, .form_row, .field.wrapper {
    margin: 0;
    @include ggs-margin-height;
    overflow: hidden;
  }
}

.form_row, .field {
  a {
    @extend a.pop;
  }
}

.textarea {
  height: ggs-lineheight(5);
  position: relative;

  .element {
    @include stretch-x(ggs-lineheight(0.5), ggs-lineheight(0.5));
    @include stretch-y(ggs-lineheight(1), 0);

    textarea {
      @include stretch;
    }
  }
}

.date select {
  width: 32%;

  &:first-child {
    margin-left: 1px;
  }
}

.element {
  overflow: hidden;

  .field_with_errors {
    border: 1px solid $complementary-color;
    @include border-radius;
    padding: 2px;
  }
}

.txt {
  .bg input {
    padding-left: 23px;
  }

  div.element input {
    @include box-sizing(border-box);
    width: 100%;
  }

  span.element input {
    // must put .relative class on enclosing div
    @include stretch-x(ggs-lineheight(3), ggs-lineheight(0.5));
  }
}

.radio {
  span.element {
    padding: {
      left: 15px;
      right: 5px;
    }
    &:first-child {
      padding-left: 1px;
    }
  }
}

.field.control {
  .prompt {
    text-align: right;
    @include ggs-margin-top;
  }
}

.required label:after {
  content: "*";
  color: $complementary-color;
}
