@import "constants";
@import "compass/typography/lists/inline-block-list";

.body, .header {
  width: $blueprint-container-size;
  margin: 0 auto;
}

header {
  background: #f3f3f3;
  overflow: hidden;
}

.header .inner {
  background: #fff;
}

nav {
  overflow: hidden;

  a {
    color: $link-visited-color;
  }

  ul {
    @include inline-block-list;
    float: right;
    overflow: hidden;

    li {
      font-weight: bold;
      line-height: 32px;
      padding: 0 0 0 25px;
      @include inline-block-list-item;
    }
  }
}
