@import "constants";
@import "compass/typography/lists/inline-block-list";

.body, .header {
  width: $blueprint-container-size;
  margin: 0 auto;
}

.header .inner {
  background: #fff;

  .media {
    margin: 0;
  }

  .logo {
    margin: 0;

    a {
      color: $alt-text-color;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

nav {
  overflow: hidden;

  a {
    color: $link-visited-color;
  }

  ul {
    @include inline-block-list;
    float: right;
    overflow: hidden;

    li {
      font-weight: bold;
      font-size: 1.5em;
      padding: 0 0 0 25px;
      @include inline-block-list-item;
    }
  }
}
