/*
 * very basic resets for our skin
 */
@import "compass/reset";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
}

ol {
  list-style-type: decimal;
}

ul, ol {
  margin: 1em 0 1em 2em;
}

.clearfix {
  clear: both;
}
