/*
 * very basic resets for our skin
 */
@import "compass/reset";
@import "compass/utilities/general/clearfix";

html {
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
}

ol {
  list-style-type: decimal;
}

ul, ol {
  margin: 1em 0 1em 2em;
}

.header {
  @include clearfix;
}

.full {
  clear: both;
}

.relative {
  position: relative;
}
