@import "constants";

.teeboxes {
  .hd h3.unit {
    margin-right: 0;

    .lastUnit {
      margin-left: 0;
    }
  }

  .line {
    margin-bottom: 10px;
  }
}

.scorecard {
  .line, .unit {
    padding: 5px 0;
  }

  .unit {
    text-align: right;
  }

  .holes, .total {
    color: $loud-color;
  }
}

.label {
  color: $loud-color;
}

.form_element .scorecard {
  .txt input {
    width: 95%;
    font-size: 1em;
    text-align: right;
  }

  .label {
    line-height: 2.4em;
  }
}

.size1of21 {
  width: 4.761904762%;
}

.size2of21 {
  width: 9.523809524%;
}

.size1of20 {
  width: 5%;
}

.size2of20 {
  width: 10%;
}
