@import "constants";
@import "compass/typography/links/link-colors";
@import "ggs/lineheight";

body, select, input, textarea {
  color: $font-color;
}

h1 {
  color: $alt-text-color;
  font-weight: bold;
}

h2, h3, h5 {
  font-weight: bold;
}

a {
  text-decoration: none;
  @include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color);

  .actions & {
    font-weight: bold;
  }
}

p {
  @include ggs-margin-height(1, 1);
}

.hint {
  font-style: italic;
  color: $quiet-color;
  margin: 0;
}
